<h1>Create Task</h1>

<form action="/tasks/add" method="POST">
    <div class="form-control">
        <label for="title">Título</label>
        <input type="text" name="title" placeholder="What do you want to do?">
    </div> 

    <div class="form-control">
        <label for="description">Description</label>
        <textarea name="description" id="" placeholder="Describe task"></textarea>
    </div> 

    <input type="submit" value="Create">   

</form>