* {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
  }

  h1{
    text-transform: uppercase;
  }


  
  #navbar {
    padding: 1em 1em;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#141414;
    color: #fff;
  }

  #navbar a{
    text-transform: uppercase;
    font-weight: bold;
  }
  
  #navbar ul {
    display: flex;
    list-style: none;
  }
  
  #navbar ul li {
    margin-left: 1em;
  }
  
  #navbar ul li a {
    text-decoration: none;
    color: #fff;
  }
  
  .container {
    max-width: 450px;
    margin: 2em auto;
  }
  
  .container form {
    margin-top: 1.5em;
  }
  
  .form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
  }
  
  .form-control label {
    font-weight: bold;
    margin-bottom: 0.3em;
  }
  
  .form-control input,
  .form-control textarea {
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  
  form input[type='submit'] {
    background-color: #211E1E;
    color: #fff;
    padding: 0.7em 1.5em;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
  }

  form input[type='submit']:hover{
    background-color:#454545;;
  }

  .task-list {
    list-style: none;
    margin-top: 1em;
  }

  .task-list li{
    padding: .5em;
    margin-bottom: 1em;
    border-bottom: 1px solid #efefef;
    display: flex;
    justify-content: space-between;
  }

  .task-list .title{
    font-weight: bold;
    color: #030000;
    font-size: 1.25em;
  }

  .task-list li a {
    text-decoration: none;
    
  }
  
 .task-list .title:hover{
  color: #CD1515 ;
}

.actions{
  display: flex;
}

.actions i{
  font-size: 1.5rem;
  margin-right: 0.6em;
}

.actions i:hover{
  color: #CD1515 ; 
}

.actions form {
  margin: 0;
}

.actions button{
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.title.done {
  text-decoration: line-through;
  color: green;
}

p{
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
}

.create-empty{
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
  padding: 10px;
  margin-top: 5px;
  font-weight: bold;
  background-color: #030000;
  color: white;
  cursor: pointer;
}

