<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MAIN</title>
    <link rel="stylesheet" href="/css/style.css">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>
<body>
    <nav id="navbar">
        <h2>THIGAS TECH </h2>
        <h2>TO DO LIST</h2>
        <ul>
            <li> <a href="/tasks">View All</a></li>
            <li> <a href="/tasks/add">Create</a></li>
            
        </ul>

    </nav>
    
    <div class="container">
    {{{body}}}
    </div>
</body>
</html>